services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: fooddelivery_user
      POSTGRES_PASSWORD: fooddelivery_pass
      POSTGRES_DB: food_delivery
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
